<!doctype html>
<html lang="fr">
<head>
    <title>3-2-1 Recettes</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>

<body>
<div class="txt-center">
    <a href="{{ path('recette_liste') }}">
    <img src="{{ asset('img/philippe-etchebest-1200x720.jpg') }}" alt="philippe etchebest">
    </a>
    <h1>3 , 2 , 1 RECETTES</h1>
</div>
</body>
</html>

